
// Custom variable overrides go here
// For options, see node_modules/bootstrap/scss/_variables.scss
// examples:
// $body-bg: black;
// $body-color: white;
// $link-hover-color: grey;
// $font-family-sans-serif: "Helvetica Neue";

// Import Bootstrap styles
@import "../../node_modules/bootstrap/scss/bootstrap";

// Import partials here

.jumbotron {
    background-image: url("../img/pirate-ship.jpg");
    background-position: center;
    background-size: cover;
    padding-top: 15%;
    
}

h1 {
    font-family: 'Dancing Script', cursive;
    text-align: center;
    color: white;
}

p.lead{
color: white;
text-align: center;
}

h5 {
    font-family: 'Dancing Script', cursive;
    font-size: 30pt;
}

.navbar-nav a:hover {
    text-decoration: underline;
  }

.byline {
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 2px;
  }

.srcline {
    font-style: italic;
}

footer {
    background-color: lightblue;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 1px;
  }